http:
  # https://doc.traefik.io/traefik/routing/routers/
  routers:
    labs:
      {# escape curly braces for Jinja #}
      rule: {% raw %}'Host(`{{ env "APP_HOST" }}`) && PathPrefix(`/opal-labs`)'{% endraw %}
      entryPoints:
        - web-secure
      middlewares:
        - redirect-missing-slash
        - labs-stripprefix
        - labs-auth
      service: labs
      tls: {}

    admin-legacy:
      rule: {% raw %}'Host(`{{ env "APP_HOST" }}`) && PathPrefix(`/opalAdmin`)'{% endraw %}
      entryPoints:
        - web-secure
      middlewares:
        - redirect-missing-slash
        - admin-legacy-stripprefix
      service: admin-legacy
      tls: {}

    admin:
      rule: {% raw %}'Host(`{{ env "APP_HOST" }}`)'{% endraw %}
      middlewares:
        - redirect-root
      entryPoints:
        - web-secure
      service: admin
      {% if certificate_type == "letsencrypt" -%}
      tls:
        certResolver: letsencrypt
      {% else %}
      tls: {}
      {%- endif %}

    admin-media:
      rule: {% raw %}'Host(`{{ env "APP_HOST" }}`) && PathPrefix(`/media/uploads/`)'{% endraw %}
      entryPoints:
        - web-secure
      service: admin-media
      tls: {}

  middlewares:
    redirect-root:
      redirectRegex:
        regex: {% raw %}"^https://([^/]+)/?$"{% endraw %}
        replacement: "https://${1}/opalAdmin/"
        permanent: false
    redirect-missing-slash:
      # https://doc.traefik.io/traefik/middlewares/http/redirectregex/
      redirectRegex:
        regex: {% raw %}'^https://({{ env "APP_HOST" }}/[A-Za-z\\-]*$)'{% endraw %}
        replacement: "https://$1/"
        permanent: false

    labs-stripprefix:
      # https://doc.traefik.io/traefik/middlewares/http/stripprefix/
      stripPrefix:
        prefixes:
          - "/opal-labs"

    labs-auth:
      # https://doc.traefik.io/traefik/middlewares/http/basicauth/
      basicAuth:
        users:
          - {% raw %}'{{ env "AUTH_LABS_USERNAME"}}:{{ env "AUTH_LABS_PASSWORD" }}'{% endraw %}

    admin-legacy-stripprefix:
      # # https://doc.traefik.io/traefik/middlewares/http/stripprefix/
      stripPrefix:
        prefixes:
          - "/opalAdmin"

  # https://doc.traefik.io/traefik/routing/services/
  services:
    labs:
      loadBalancer:
        servers:
          - url: http://labs:8080

    admin-legacy:
      loadBalancer:
        servers:
          - url: http://admin-legacy:8080

    admin:
      loadBalancer:
        servers:
          - url: http://admin:8000

    admin-media:
      loadBalancer:
        servers:
          - url: http://admin-media:80
