ENVIRONMENT_NAME=${ENVIRONMENT}

# Database settings
# Opal Database
OPAL_DB_HOST=${DB_HOST}
OPAL_DB_USER=${DB_USER}
OPAL_DB_PASSWORD=${DB_PASSWORD}
OPAL_DB_PORT=${DB_PORT}

# Questionnaire DB settings
QUESTIONNAIRE_DB_HOST=${DB_HOST}
QUESTIONNAIRE_DB_PORT=${DB_PORT}
QUESTIONNAIRE_DB_USER=${DB_USER}
QUESTIONNAIRE_DB_PASSWORD=${DB_PASSWORD}

# SSL configurations for the database connection
# To use secure transport for the database connections
DATABASE_USE_SSL=${DB_USE_TLS}
{% if db_use_tls -%}
# SSL_CA is the path to the CA's public certificate that was used to issue the DB server's certificate.
# It must be the same certificate that is used in the database-server SSL settings.
# See the db-docker repository README for the details on how to generate certificates and use encrypted connections.
# https://gitlab.com/opalmedapps/db-docker#running-the-databases-with-encrypted-connections
SSL_CA=${DB_CERTS}
{%- endif %}

# Backend (New Opaladmin) settings (no trailing slash)
NEW_OPALADMIN_HOST_INTERNAL=http://admin:8000
NEW_OPALADMIN_HOST_EXTERNAL=https://${APP_HOST}:${HTTPS_PORT}
NEW_OPALADMIN_TOKEN={{ admin_token }}

# ----- Push Notification Configurations - FCM and APN ----
PUSH_NOTIFICATION_URL=http://opaladmin:8080/publisher/php/sendPushNotification.php
PUSH_NOTIFICATION_ANDROID_URL=${PUSH_NOTIFICATION_ANDROID_URL}

APPLE_CERT_FILENAME=apn.crt
# sandbox: https://api.sandbox.push.apple.com/3/device/
# production: https://api.push.apple.com/3/device/
# see: https://developer.apple.com/documentation/usernotifications/sending-notification-requests-to-apns#Establish-a-connection-to-APNs
APPLE_URL=https://api.sandbox.push.apple.com/3/device/
APPLE_CERT_KEY=apn.key
APPLE_TOPIC=${APPLE_TOPIC}

## Firebase Configurations
# EG: https://url-to-your-firebase.com
FIREBASE_DATABASE_URL=${FIREBASE_DATABASE_URL}
FIREBASE_ADMIN_KEY_PATH=/config/firebase-service-account.json

# path configurations - note that leading slash is REQUIRED!
CLINICAL_REPORTS_PATH=${CLINICAL_REPORTS_PATH}
RELATIVE_URL=/opalAdmin/

# Active Directory Settings
FEDAUTH_INSTITUTION=06-ciusss-cusm
FEDAUTH_API_ENDPOINT=https://fedauthfcp.rtss.qc.ca/fedauth/wsapi/login
AD_ENABLED=0

# ORMS
ORMS_ENABLED=0
