DJANGO_SETTINGS_MODULE=config.settings.production

# Database
DATABASE_HOST=${DB_HOST}
DATABASE_PORT=${DB_PORT}
DATABASE_USER=${DB_USER}
DATABASE_PASSWORD=${DB_PASSWORD}
DATABASE_NAME=admin
DATABASE_USE_SSL={% if db_use_tls %}True{% else %}False{% endif %}
{% if db_use_tls -%}
SSL_CA=${DB_CERTS}
{%- endif %}

{% if use_custom_certs -%}
REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
{%- endif %}

# Legacy Databases
LEGACY_DATABASE_PORT=${DB_PORT}
LEGACY_DATABASE_HOST=${DB_HOST}
LEGACY_DATABASE_USER=${DB_USER}
LEGACY_DATABASE_PASSWORD=${DB_PASSWORD}

# General
SECRET_KEY={% if run_setup %}{{ random_password(50)}}{% else %}{{ existing_secret('.envs/admin.env', 'SECRET_KEY') }}{% endif %}
ALLOWED_HOSTS=${APP_HOST},admin
OPAL_ADMIN_URL=https://${APP_HOST}:${HTTPS_PORT}/opalAdmin
CSRF_TRUSTED_ORIGINS=https://${APP_HOST}
AUTH_EXEMPT_ROUTES=login,admin:login,admin:index,favicon.ico

# SMTP used for user registration confirmation and verify email emails
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=registration@opalmedapps.ca
EMAIL_HOST_PASSWORD=

# federated auth settings
FEDAUTH_API_ENDPOINT=https://fedauthfcp.rtss.qc.ca/fedauth/wsapi/login
FEDAUTH_INSTITUTION=06-ciusss-cusm

# Interface Engine/Source System
SOURCE_SYSTEM_HOST=https://${SOURCE_SYSTEM_HOST}:${SOURCE_SYSTEM_PORT}
SOURCE_SYSTEM_USER=
SOURCE_SYSTEM_PASSWORD=

OPAL_USER_REGISTRATION_URL=https://{{ domain_registration }}
INSTITUTION_CODE=${INSTITUTION_CODE}

# Sending SMS message settings
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
SMS_FROM=

# ORMS
ORMS_ENABLED=False

# Pathology
PATHOLOGY_REPORTS_PATH=${CLINICAL_REPORTS_PATH}

# Report Generation
REPORT_SOURCE_SYSTEM=Opal
REPORT_DOCUMENT_NUMBER=undefined

# Whether the Databank project is active or not
# Note: Assumes the source system has been properly configured and has databank credentials in its environment
DATABANK_ENABLED=False
