ENV=${ENVIRONMENT}
OPAL_DB_HOST=${DB_HOST}
OPAL_DB_PORT=${DB_PORT}
MYSQL_USERNAME=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}
USE_SSL=${DB_USE_TLS}
{% if db_use_tls -%}
SSL_CA=${DB_CERTS}
{% endif %}

PUSH_NOTIFICATION_URL=http://opaladmin:8080/publisher/php/sendPushNotificationPerl.php
BACKEND_HOST=http://backend:8000
BACKEND_AUTH_TOKEN={{ opaladmin_token }}

# VSign WSDL to retrieve historical lab results
OASIS_WSDL_URL=
