# Firebase Configurations
# EG: https://url-to-your-firebase.com
FIREBASE_DATABASE_URL=${FIREBASE_DATABASE_URL}
# If run with Docker: /app/src/config/firebase/firebase-admin-key.json
# If run with node: /full/path/to/listener/directory/src/config/firebase/firebase-admin-key.json
FIREBASE_ADMIN_KEY_PATH=/config/firebase-service-account.json
FIREBASE_ROOT_BRANCH=dev3/${INSTITUTION_CODE}
FIREBASE_ENABLE_LOGGING=false

# Backend (New OpalAdmin) Location
BACKEND_HOST=http://backend:8000
BACKEND_LISTENER_AUTH_TOKEN={{ listener_token }}
BACKEND_REGISTRATION_AUTH_TOKEN={{ listener_registration_token }}

# Data Cache TTL (in minutes)
DATA_CACHE_TIME_TO_LIVE_MINUTES=10

# --- SSL Configurations ---
DATABASE_USE_SSL=${DB_USE_TLS}
{% if db_use_tls -%}
# Path to your CA public key file; used for DB connections if DATABASE_USE_SSL is enabled
SSL_CA=${DB_CERTS}
{% endif -%}

{% if use_custom_certs -%}
# Path to CA certs file; if provided, will be used implicitly by Node, see: https://nodejs.org/api/cli.html#node_extra_ca_certsfile
NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
{%- endif %}


# DATABASE settings
MYSQL_USERNAME=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}
MYSQL_DATABASE_HOST=${DB_HOST}
MYSQL_DATABASE_PORT=${DB_PORT}

# Config settings
# Path to the mounted drive containing clinical notes
DOCUMENTS_PATH=${CLINICAL_REPORTS_PATH}
# PATH to the folder or drive containing doctors' profile images
DOCTOR_PATH=/OpalDoctors/

# Opal App Checkin Configurations
ORMS_ENABLED=0
CHECKIN_ROOM=OPAL PHONE APP
OPAL_CHECKIN_URL=http://backend:8000/api/patients/legacy/appointment/checkin/
# Source System enabled to receive checkin api calls: https://{SOURCE_SYSTEM_HOST}/endpoint
SOURCE_SYSTEM_SUPPORTS_CHECKIN=0

# URL notified when a questionnaire is completed: http://orms:8080/orms/php/api/public/v1/patient/notifyNewQuestionnaireResponse
QUESTIONNAIRE_COMPLETED_URL=http://orms:8080/orms/php/api/public/v1/patient/notifyNewQuestionnaireResponse
# Default URL provided to patients when a lab result has no educational material link
DEFAULT_LAB_EDUCATIONAL_URL_EN=https://www.testing.com/tests/
DEFAULT_LAB_EDUCATIONAL_URL_FR=https://www.depdocs.com/opal/educational/Labs/Labs_FR.php

# Feedback email settings
# Email address used as from and to
FEEDBACK_EMAIL=TODO
FEEDBACK_EMAIL_HOST=TODO
FEEDBACK_EMAIL_PORT=TODO
# TODO: make optional based on whether certs are required
SSL_CA=TODO
QUESTIONNAIRE_COMPLETED_URL=TODO

# Opal App Checkin Configurations
ORMS_ENABLED=0
CHECKIN_ROOM=OPAL PHONE APP
OPAL_CHECKIN_URL=http://backend:8000/api/patients/legacy/appointment/checkin/
# Source System enabled to receive checkin api calls: https://{SOURCE_SYSTEM_HOST}/endpoint
SOURCE_SYSTEM_SUPPORTS_CHECKIN=0
