# WEB SERVER SETTINGS
BASE_PATH=/var/www/orms
BASE_URL=https://${APP_HOST}:${HTTPS_PORT}/orms
IMAGE_PATH=/var/www/orms/images
IMAGE_URL=https://${APP_HOST}/orms/images
LOG_PATH=/var/www/orms/logs

# DATABASE CONNECTION SETTINGS
# ORMS database settings
ORMS_DATABASE_USER=${DB_USER}
ORMS_DATABASE_PASSWORD=${DB_PASSWORD}
ORMS_DATABASE_HOST=${DB_HOST}
ORMS_DATABASE_NAME=OrmsDatabase
ORMS_DATABASE_PORT=${DB_PORT}

# Log database settings
LOG_DATABASE_USER=${DB_USER}
LOG_DATABASE_PASSWORD=${DB_PASSWORD}
LOG_DATABASE_HOST=${DB_HOST}
LOG_DATABASE_NAME=OrmsLog
LOG_DATABASE_PORT=${DB_PORT}

# FIREBASE SETTINGS
# URL of the Firebase realtime database (NOTE! The slash is required after .com)
FIREBASE_CONFIG_PATH=/config/firebase-config.json
FIREBASE_BRANCH=/dev3/${INSTITUTION_CODE}/orms/

# OPAL INTERFACE ENGINE (OIE) SETTINGS
# Setting to enable/disable OIE communication
OIE_ENABLED=0
#OIE_URL=https://${OIE_HOST}:${OIE_PORT}
OIE_URL=
OIE_USERNAME=
OIE_PASSWORD=

# SMS SETTINGS
# Setting to enable/disable SMS messages
SMS_ENABLED=0
SMS_PROVIDER=twilio
SMS_LICENCE_KEY=
SMS_TOKEN=
SMS_REMINDER_CRON_ENABLED=0
SMS_INCOMING_SMS_CRON_ENABLED=0

# NEW OPAL ADMIN SETTINGS
NEW_OPAL_ADMIN_HOST_INTERNAL=http://admin:8000
NEW_OPAL_ADMIN_HOST_EXTERNAL=https://${APP_HOST}:${HTTPS_PORT}
NEW_OPAL_ADMIN_TOKEN={{ orms_token }}


LEGACY_OPAL_ADMIN_HOST_INTERNAL=http://admin-legacy:8080
# API settings for direct requests from orms to legacy OA endpoints
LEGACY_OPAL_ADMIN_API_USERNAME=orms
LEGACY_OPAL_ADMIN_API_PASSWORD={{ orms_password }}
LEGACY_OPAL_ADMIN_HOST_EXTERNAL=https://${APP_HOST}:${HTTPS_PORT}/opalAdmin

# SETTINGS FOR THE WEIGHTS
# Setting to enable/disable sending weights PDF to the OIE
SEND_WEIGHTS=0

# SETTINGS FOR THE VIRTUAL WAITING ROOM
# Setting for enabling cron job
VWR_CRON_ENABLED=0

# MESSAGE TRANSLATIONS
FAILED_CHECK_IN_MESSAGE_EN = "There is a problem checking in for your appointment(s). If you have an appointment today, please go to the reception to complete the check-in process."
FAILED_CHECK_IN_MESSAGE_FR = "Une erreur s'est produite lors de l'enregistrement pour votre/vos rendez-vous. Si vous avez un rendez-vous aujourd'hui, veuillez vous rendre à la réception pour terminer le processus d'enregistrement."
UNKNOWN_COMMAND_MESSAGE_EN = "You have not been checked-in. To check-in for an appointment, please reply with the word \"arrive\". No other messages are accepted."
UNKNOWN_COMMAND_MESSAGE_FR = "Vous n\'avez pas été enregistré(e). Pour vous enregister pour votre rendez-vous, svp repondez \"arrive\". Aucun autre message ne sera accepté."

# List of the email addresses (a.k.a., recipients) who should get an email when new appointment type detected
# The list should be separated by comma (e.g., ",") with no space
EMAIL=

# List of long codes
# TODO: investigate what list values we need to provide
# The list should be separated by comma (e.g., ",") with no space
# REGISTERED_LONG_CODES=

# SMTP MAILER SETTINGS
# ORMS sends emails in 2 cases:
#  - An error occurs in a cron
#  - A new appointment code / clinic code combination is detected.
#    This was supposed to be used to notify the staff that there's
#    a new appointment type that should be enabled for SMS
RECIPIENT_EMAILS=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SENT_FROM_ADDRESS=
EMAIL_PORT=587

DATABASE_USE_SSL=${DB_USE_TLS}
{% if db_use_tls -%}
# Path to your CA public key file; used for DB connections if DATABASE_USE_SSL is enabled
SSL_CA=${DB_CERTS}
{% endif -%}

# Source System host for appointment location updates from orms (kiosk/vwr/sms patient checkins)
SOURCE_SYSTEM_SUPPORTS_CHECKIN=0
SOURCE_SYSTEM_HOST_EXTERNAL=
