db_password: {{ db_password }}
db_root_password: {{ db_root_password }}
listener_token: {{ listener_token }}
listener_registration_token: {{ listener_registration_token }}
interface_engine_token: {{ interface_engine_token }}
admin_token: {{ admin_token }}
admin_password: {{ admin_password }}
labs_password: {{ labs_password }}
