services:
  traefik:
    image: traefik:v3.4.1
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    restart: unless-stopped
    environment:
      - TZ=${TIMEZONE}
      - APP_HOST=${APP_HOST}
      - AUTH_LABS_USERNAME=${AUTH_LABS_USERNAME}
      - AUTH_LABS_PASSWORD=${AUTH_LABS_PASSWORD}
    volumes:
      - type: bind
        source: $PWD/config/traefik/traefik.yaml
        target: /etc/traefik/traefik.yaml
        read_only: true
      - type: bind
        source: $PWD/config/traefik/dynamic-config
        target: /config
        read_only: true
      - type: bind
        source: $PWD/artifacts/logs/traefik
        target: /logs
      {% if certificate_type == "letsencrypt" -%}
      - type: bind
        source: $PWD/config/traefik/certs
        target: /certs
      {% endif -%}
      {% if certificate_type == "file" -%}
      - type: bind
        source: $PWD/certs/server.crt
        target: /certs/server.crt
        read_only: true
      - type: bind
        source: $PWD/certs/server.key
        target: /certs/server.key
        read_only: true
      {% endif -%}
  {%- if db_host_type == "container" %}
  db:
    image: mariadb:10.11.13-jammy
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - TZ=${TIMEZONE}
    volumes:
      - db-data:/var/lib/mysql
  {%- endif %}
  admin-legacy:
    image: ghcr.io/opalmedapps/opal-admin-legacy:main
    restart: unless-stopped
    {% if db_host_type == "container" -%}
    depends_on:
      - db
    {%- endif %}
    env_file:
      - $PWD/.envs/admin-legacy.env
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - admin-legacy-logs:/var/www/html/publisher/logs
      - type: bind
        source: {{ clinical_notes_path }}
        target: ${CLINICAL_REPORTS_PATH}
      - type: bind
        source: $PWD/config/firebase/service-account.json
        target: /config/firebase-service-account.json
        read_only: true
      - type: bind
        source: $PWD/certs/apn.crt
        target: /var/www/html/publisher/php/certificates/apn.crt
        read_only: true
      - type: bind
        source: $PWD/certs/apn.key
        target: /var/www/html/publisher/php/certificates/apn.key
        read_only: true
      {% if use_custom_certs -%}
      - type: bind
        source: $PWD/certs/ca-certificates.crt
        target: /etc/ssl/certs/ca-certificates.crt
        read_only: true
      - type: bind
        source: $PWD/certs/db-certs.crt
        target: /certs/db-certs.crt
        read_only: true
      {%- endif %}
  admin:
    image: ghcr.io/opalmedapps/opal-admin:main
    restart: unless-stopped
    {% if db_host_type == "container" -%}
    depends_on:
      - db
    {%- endif %}
    env_file:
      $PWD/.envs/admin.env
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - admin-media:/app/opal/media
      - admin-logs:/logs
      - type: bind
        source: {{ clinical_notes_path }}
        target: ${CLINICAL_REPORTS_PATH}
      {% if use_custom_certs -%}
      - type: bind
        source: $PWD/certs/ca-certificates.crt
        target: /etc/ssl/certs/ca-certificates.crt
        read_only: true
      - type: bind
        source: $PWD/certs/db-certs.crt
        target: /certs/db-certs.crt
        read_only: true
      {%- endif %}
  admin-media:
    image: joseluisq/static-web-server:2.37.0
    restart: unless-stopped
    depends_on:
      - admin
    volumes:
      - admin-media:/public/media:ro
  listener:
    image: ghcr.io/opalmedapps/opal-listener:main
    restart: unless-stopped
    {% if db_host_type == "container" -%}
    depends_on:
      - db
    {%- endif %}
    env_file:
      - $PWD/.envs/listener.env
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - type: bind
        source: {{ clinical_notes_path }}
        target: ${CLINICAL_REPORTS_PATH}
        read_only: true
      - type: bind
        source: $PWD/config/firebase/service-account.json
        target: /config/firebase-service-account.json
        read_only: true
      {% if use_custom_certs -%}
      - type: bind
        source: $PWD/certs/ca-certificates.crt
        target: /etc/ssl/certs/ca-certificates.crt
        read_only: true
      - type: bind
        source: $PWD/certs/db-certs.crt
        target: /certs/db-certs.crt
        read_only: true
      {%- endif %}
  redis:
    image: redis:7.4.4-alpine3.21
    restart: unless-stopped
  db-management:
    image: ghcr.io/opalmedapps/opal-db-management:main
    {% if db_host_type == "container" -%}
    depends_on:
      - db
    {%- endif %}
    environment:
      - TZ=${TIMEZONE}
    env_file:
      - $PWD/.envs/db-management.env
    {% if use_custom_certs -%}
    volumes:
      - type: bind
        source: $PWD/certs/db-certs.crt
        target: /certs/db-certs.crt
        read_only: true
    {%- endif %}

volumes:
  db-data:
  admin-media:
  admin-logs:
  admin-legacy-logs:

networks:
  default:
    name: opal-${ENVIRONMENT}
