# https://copier-template-tester.kyleking.me/#configuration-file
# minimal defaults required to generate a project
[defaults]
is_test = true
project_name = "test"
extra_files = "/home/runner/work/deploy-pie/deploy-pie/.ctt/extra"
certificate_type = "letsencrypt"
# required for letsencrypt
admin_email = "test"
db_host_type = "container"
firebase_project_name = "test"
app_id = "com.hig.test"
domain_registration = "registration.opalmedapps.ca"
_extra_tasks = [
  "docker compose down",
]

# ensure that the secrets file is included during test
[output.".ctt/defaults"]
_extra_tasks = [
  "echo {{ labs_password }} > secret",
  "cat secret",
  "ls .secrets.yaml",
  "docker compose down",
]

# the secrets file is excluded
[output.".ctt/no_test"]
is_test = false
_extra_tasks = [
  "! ls .secrets.yaml",
  "docker compose down",
]
