# {{ project_name }}

## Getting Started

## URLs

* OpalAdmin: https://{{ domain }}:{{ https_port}}/opalAdmin/
* OpalAdmin v2: https://{{ domain }}:{{ https_port }}/
* Opal Labs: https://{{ domain }}:{{ https_port}}/opal-labs/
* Registration Website: https://{{ domain_registration }}

## Updating your project

Please see the project template README: https://gitlab.com/opalmedapps/infrastructure/deploy-app/-/blob/main/README.md#updating-the-project
